*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main{
  height: 100vh;
  width: 100vw;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header{
  width: 100vw;
  height: 50vh;
  font-size: .8rem;
  text-align: center;
  color: #128C7E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  /* background-color:red */
}
.header img{
  width: 100px;
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 100px;
}

.container input{
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
.container input:focus{
  outline: 2px solid #128C7E;
}
.container input::placeholder{
  color: #128C7E;
}
.container button{
  margin-top: 10px;
  padding: 10px 50px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  background-color: #128C7E;
  color: white;
}
.container button:hover{
  background-color: #11796d;
}